{% extends "base.html" %} {% load bootstrap3 %} {% block header %}
<h2>
    Evchat
</h2>
{% endblock header %}

{% block content %}
<div id="eventDetailID">
    <div id="eventDetailStartDateTimeID">
        {{ event.start_date_time }}
    </div>
    <div id="eventDetailTypeID">
        {{ event.type }}
    </div>
    <div id="eventDetailTitleID">
        {{ event.title}}
    </div>
    <div id="eventDetailDescriptionID">
        {{ event.description }}
    </div>
    <div id="eventDetailPlaceID">
        {{ event.place }}
    </div>
</div>
{% endblock content %} {% block extra_body %} {% load static %}
<script src="{% static 'js/event.js' %}">
</script>
{% endblock extra_body %}