{% extends "base.html" %}
{% load bootstrap3 %}

{% block header %}
<h2>
    Evchat
</h2>
{% endblock header %}

{% block content %}
<form method="post" action="{% url 'create_event' %}">
    {% csrf_token %}
    <h3>Event</h3>
    {% bootstrap_field event_form.title %}
    {% bootstrap_field event_form.type %}
    {% bootstrap_field event_form.description %}
    <div class="input-group date" id="datetimepicker6">
        <span class="input-group-addon datepickerbutton">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <br>
        {% bootstrap_field event_form.start_date_time %}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-remove"></span>
        </span>
    </div>
    {% bootstrap_field event_form.place %}
    <div id="map" style="width: 50%; height: 300px;">
        <label id="place_label">Search place for selected.</label>
    </div>
    <br>
    <hr>
    {% buttons %}
    <button name="submit" class="btn btn-primary">Создать</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'index' %}" />
</form>
{% endblock content %}

{% block extra_body %}
{% load static %}
<script src="{% static 'js/event_create.js' %}"></script>
<script src="http://api-maps.yandex.ru/2.1.17/?lang=en" type="text/javascript"></script>
{% endblock extra_body %}